In [ ]:
#Dependencies
import os
from bs4 import BeautifulSoup
import requests
from splinter import Browser
import pandas as pd

In [20]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#URL of page to be scraped
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [32]:
#find latest news title 
try: 
    news_title = soup.find("ul", class_="item_list").find("li", class_="slide").find("div", class_="list_text").find("div", class_="content_title").get_text()
except AttributeError:
    print ("News Title Error")
news_title

News Title Error

'Mars Now'

In [36]:
#find latest paragraph text
try:
    news_p = soup.find("ul", class_="item_list").find("li", class_="slide").find("div", class_="list_text").find("div", class_="content_title").find("div", class_="article_teaser_body").get_text()
except AttributeError:
    print ("Article Teaser")
news_p

Article Teaser

'August 25, 2020'

JPL MARS SPACE IMAGE

In [37]:
#Set up browser
jpl_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(jpl_url)

In [67]:
#HTML object
html = browser.html
    
#html parser with beautiful soup
soup = BeautifulSoup(html, 'html.parser')
    
#Retrieve elements for image reference
try:
    image = soup.find("div", id='fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open')['src']
except AttributeError:
    print ("oops")
    
featured_image_url = jpl_url + image

#print featured image url
featured_image_url

TypeError: 'NoneType' object is not subscriptable

MARS FACTS

In [51]:
#url
mars_facts_url = "https://space-facts.com/mars/"

In [52]:
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [53]:
#return table as df with planet facts
df = tables[0]

df.columns = ['Fact', 'Value']

df.head()

                   Fact                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [54]:
#set index
df.set_index('Fact', inplace=True)
df.head()

                                              Value
Fact
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)

In [55]:
#df to html
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Fact</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

MARS HEMISPHERES

In [63]:
#url
cerberus_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced"
browser.visit(cerberus_url)

#HTML object
html = browser.html
    
#html parser with beautiful soup
soup = BeautifulSoup(html, 'html.parser')
    
#Retrieve elements for image reference
cerb_image = soup.find("img", class_='wide-image')['src']
cerb_image

'/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'